.navbar {
    border: none;
}

.navbar-inverse{
    background-image: -webkit-linear-gradient(top,#4da845 0%, #17823f 100%);
    background-image: -o-linear-gradient(top, #4da845 0%, #17823f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4da845), to(#17823f));
    background-image: linear-gradient(to bottom, #4da845 0%, #17823f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4da845', endColorstr='#ff17823f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    &:hover, &:focus {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.headingContianer {
    border-bottom: 1px solid #17823f;
    padding-left: 15px;
    padding-bottom: 5px;

    h1 {
        font-size: 1.2em;
    }
}

.addButton {
    border-radius: 100px;
    background-color: #17823f;
    color: #fff;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 100px;
    margin-top: -20px;

    &:hover {
        cursor: pointer;
        border: 1px solid #17823f;
        background-color: #539f6f;
    }

    p {
        text-align: center;
        font-size: 2.1em;
        font-weight: bold;
    }
}

.contentContainer {
    padding: 30px 20px 0 20px;
}

.listItemContainer {
    background-color: #f1f3fa;
    margin-bottom: 5px;
    padding-left: 0;

    .listItemHeading {
        font-size: 1.2em;
        margin: 25px 0 0 0;
    }

    .listItemSubHeading {
 
        font-size: 0.9em;

        .label{
            color: #919294;
            padding: 0;
            margin: 0 5px 0 0;
            font-size: 0.9em;
            font-weight: normal;
        }
    }
    
    .listItemDescription{
        margin-top: 25px;
        display: inline-block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        height: 12px*1.4*3; /* Fallback for non-webkit */
        font-size: 12px;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .listBtn {
        float: right;
        margin:40px 20px 0 0;
        font-size: 1.5em;
        color: #878787;

        &:hover{
            color: #17823f;
            cursor: pointer;
        }
    }

}

.modalHeader {
    padding: 10px 0 0 15px;
    height: 40px;
    background-color: #17823f;
    border-radius: 10px 10px 0 0;

    label {
        color: #fff;
    }
}

.modalContent {
    padding: 15px;
    min-height: 500px;

    label {
        font-size: 0.8em;
        font-weight: normal;
    }
}

.modalFooter {
    padding: 12px 15px 0 0;
    border-top: 1px solid #878787;
    bottom: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    border-top: 1px solid #f1f3fa;

    .btnCancel {
        float: right;
        width: 100px;
        background-color: transparent;
        border: 1px solid #fff;
        margin-right: 15px;

        &:hover {
            border: 1px solid #17823f;
            border-radius: 5px;
            background-color: #539f6f;
            color: #fff;
        }
    }

    .btnSave {
        float: right;
        width: 100px;
        background-color: #17823f;
        border: 1px solid #17823f;
        border-radius: 5px;
        color: #fff;

        &:hover {
            border: 1px solid #17823f;
            background-color: #539f6f;
            color: #fff;
            border-radius: 5px;
        }
    }

}

.loginError {
    border: 1px solid #da1515;
    background-color: rgba(218, 21, 21, 0.1);
    color: #da1515;
    padding: 5px;
    width: 400px;
    margin: 0 auto 15px auto;
    border-radius: 5px;
}

.formError {
    border: 1px solid #da1515;
    background-color: rgba(218, 21, 21, 0.1);
    color: #da1515;
    padding: 5px;
    margin: 0 auto 15px auto;
    border-radius: 5px;
}

.btnTagAdd {
    color: #17823f;
    margin-top: 3px;

    &:hover{
        color: #539f6f; 
        cursor: pointer;      
    }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 195px auto 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tagListContainer {
        background-color: white;
        border: 1px solid rgba(204,204,204,1.0);
        height: 280px;
        border-radius: 4px;
        margin-top: 10px;
        overflow: scroll;
        overflow-x: hidden;

        .tagListItem {
            background-color: rgba(235,241,237,1.0);
            border: 1px solid #17823f;
            margin: 5px;
            height: 30px;
            padding: 4px 5px 0 5px;
            border-radius: 4px;

            p {
                float:left;
            }

            i {
                float:right;
                margin-top: 2px;
                font-size: 1.2em;
                color: #17823f;

                &:hover {
                    color:#539f6f; 
                    cursor: pointer;
                }
            }
        }
    }